@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Esse é um teste de avaliação técnica da <a href="https://wktechnology.com.br/">WK Technology</a>.</p>
</div>

<div class="container px-4">
  <div class="row">
    <div class="col">
      <div class="p-3 border bg-light">
          <figure class="figure">
              <img src="~/Images/Logo-WK.png" class="figure-img img-fluid rounded" alt="...">
              <figcaption class="figure-caption">A caption for the above image.</figcaption>
           </figure>
      </div>
    </div>
  </div>
</div>
