@model WK.Tech.Domain.Dtos.CategoryDto

@{
    ViewData["Title"] = "Deletar categoria";
}

<h1>Remover Categoria</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="DeleteCategory">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="row">
                 <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Código</label>
                        <input asp-for="Code" class="form-control" readonly />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label">Nome</label>
                        <input asp-for="Name" class="form-control" readonly/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>                   
                </div>               
            </div>           
            <br>
            @using (Html.BeginForm()) 
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <input type="submit" value="Remover" class="btn btn-primary" />
                    <a class="btn btn-info" asp-action="Categories">Voltar</a>
                </div>
           }
        </form>
    </div>
</div>

